---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="La velada IV">
	<main>

		<h1 class="text-black animate-blurred-fade-in">La Velada 4</h1>

		<p>
			La Velada 4
		</p>
	</main>
</Layout>
