---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col justify-center items-center mb-9">
    <span class="text-xl uppercase text-secondary">Presentación de la</span>
    <HeroLogo class="w-full max-w-2xl text-primary" />
    <!-- El color es definido por la clase [19] -->
</section>
